html
{
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #fff;
    perspective: 1px;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
}
header{
    box-sizing: border-box;
    height: 102vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    z-index: -100;
    color: #fff;
}
header h1
{
    margin-top: 100px;
}
header, header:before
{
    background: 50% 50%;
}
header::before
{
    bottom: 0;
    content: ""; 
    left:0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url('../images/anthem-2.jpg');
    background-size: cover; 
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2);
    z-index: -100;
    min-height: 70vh;
}

header *
{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 1em 0;
}
.spnosor_logo
{
    background: url('../logo/anthem-logo.png');
    background-size: 800px 250px; 
    background-repeat: no-repeat; 
    width: 800px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
.game_feature
{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 252, 248);
    align-items: center;
    position: relative;
}
.game_feature>.heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    font-variant: small-caps;
    margin-top: 5%;
}
.game_feature>.subheading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    font-stretch: ultra-expanded;
    font-weight: lighter;
    color: rgb(188, 198, 200);
    font-variant: small-caps;
    margin-top: 2%;
}
.game_feature_data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: rgb(248, 252, 248);
}
.game_feature_data>.row>div
{
    height: 300px;
    width: 700px;
    margin: 35px;
    background-color: #fff;
    box-shadow: 0 0 5px gray;
}
.game_feature_data>.row>div:hover
{
    box-shadow: 0 3px 15px rgb(162, 225, 255);
}
.game_feature_data>.row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game_feature_data img
{
    width: 120%;
    height: 100%;
    display: inline-block;
}
.inner_right,.inner_left
{
    display: inline-block;
}
.inner
{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.inner_left1{
    background: url('../images/learning-strategy.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    width: 300px;
}
.inner_left2{
    background: url('../images/memory.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    width: 300px;
}
.inner_left3{
    background: url('../images/aim.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    width: 300px;
}
.inner_left4{
    background: url('../images/plan.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    width: 300px;
}
.about_studio
{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 252, 254);
    align-items: center;
    position: relative;
}
.about_studio>.heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    font-variant: small-caps;
    margin-top: 5%;
}
.about_studio>.subheading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    font-stretch: ultra-expanded;
    font-weight: lighter;
    color: rgb(188, 198, 200);
    font-variant: small-caps;
    margin-top: 2%;
}
.studio_data
{
    display: flex;
    background-color: white;
    padding-top: 5vh;   
    flex-direction: row;
    height: 400px;
    position: relative;
    justify-content: center;
}   
.clipping
{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%,200px 100px,100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.clipping > iframe
{
    width: 70%;
    height: 50%;
}
.data_transparent
{
    height: 400px;
    background-color: rgb(255,255,255,0.3);
    width: 100%;
    position: relative;
}
.data_transparent>div
{
    padding-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    color: black;
    display: inline-block;
    position: relative;
}
aside
{
    box-sizing: border-box;
    height: 200px;
    padding: 0 0 0;
    position: relative;
    transform-style: inherit;
    z-index: -3;
    width: 100vw;
}

aside, aside:before
{
    background: 50% 50%;
}
aside::before,aside::after
{
    bottom: 0;
    content: ""; 
    left:0;
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    background: url('../images/shattered.gif');
    background-size: 100% 100%; 
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2);
    z-index: -3;
    min-height: 200px;
}
aside::after
{
    height: 500px;
}
aside *
{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 1em 0;
}
.whatwedo_game
{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 246, 248);
    align-items: center;
}
.whatwedo_game>.heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    font-stretch: ultra-expanded;
    font-weight: 700;
    font-variant: small-caps;
    margin-top: 5vw;
}
.whatwedo_game>.subheading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    font-stretch: ultra-expanded;
    font-weight: lighter;
    color: rgb(177, 177, 177);
    font-variant: small-caps;
    margin-top: 2%;
}

.game_card
{
    background: linear-gradient(rgb(248, 246, 248),rgb(246, 236, 240));
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height:40vh;
    justify-content: center;
    width: 100.8%
}
.game_card>div>div
{
    background-color:rgba(0,0,0,0);
    text-align: center;
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: -30px;
    border: 0 solid;
    width: 80%;
}
.game_card_inner
{
    padding: 0;
}
.card-img-top
{
    border-radius: 50%; 
    width: 100px;
    height: 100px; 
    transition: all 0.5s;
}
.circle_img
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.circle_img:hover .card-img-top
{
    box-shadow:  0 7px  30px rgb(100,100,100);
    transform: scale(1.15);
}
.card-title
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.85em
}
.card-text
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.85em;
    font-variant: small-caps;
    font-weight: lighter;
    color: rgb(100,106,114);
}